<!-- Navigation -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <%= link_to "EscaboApp", site_home_path, class:"navbar-brand" %>
    <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="float: right;" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto">
        <% unless member_signed_in? %>
          <li class="nav-item">
            <%= link_to "Log-in", new_member_session_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Cadastrar", new_member_registration_path %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= current_member.email %>
          </li>
          <li class="nav-item">
            <%= link_to "Perfil", site_profile_dashboard_index_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Log-out", destroy_member_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>